@import url('./styles/home.css');
@import url('./styles/statistics.css');
@import url('./styles/channels.css');
@import url('./styles/modules.css');

@import url('./styles/layout.css');
@import url('./styles/pagesStyle.css');

html{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #eef1f6;
  overflow-x: hidden;
  height: 100%;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.App{
  min-height: 700px;
  height: 100%;
}

@media (width<1300px) {
  body{
    overflow-x: auto;
  }
}